.container {
  flex-shrink: 0;
  padding-top: 100%;
  position: relative;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px var(--borderColor);
  border-radius: var(--dp__8);

  &_selected {
    background-color: var(--colors__primary);
    color: var(--colors__background_light);
  }
}

.preview {
  background-color: var(--colors__font_medium);
}
