@import "imports.module";
@import "shared.module";
@import "colors.module";
@import "common.module";

:root {
  /* COLORS */
  --colors__primary: #{getColorVarValue("primary")};

  --colors__background_light: #{getColorVarValue("background_light")};
  --colors__background_medium: #{getColorVarValue("background_medium")};
  --colors__background_dark: #{getColorVarValue("background_dark")};
  --colors__background_very_dark: #{getColorVarValue("background_very_dark")};

  --colors__font_dark: #{getColorVarValue("font_dark")};
  --colors__font_medium: #{getColorVarValue("font_medium")};
  --colors__font_light: #{getColorVarValue("font_light")};
  --colors__font_extra_light: #{getColorVarValue("font_extra_light")};

  --colors__placeholder: #{getColorVarValue("placeholder")};
  /**/

  /* FONTS */
  --font-family: "Roboto", sans-serif;
  --fonts__s: 400 1.4rem/1.3 var(--font-family);
  --fonts__m: 400 1.6rem/1.3 var(--font-family);
  --fonts__l: 400 2.4rem/1.3 var(--font-family);
  --fonts__header_s: 500 1.6rem/1.3 var(--font-family);
  --fonts__header_m: 700 2.4rem/1.3 var(--font-family);
  --fonts__header_l: 700 3.2rem/1.3 var(--font-family);
  /**/

  /* SPACING */
  --dp__4: 0.4rem;
  --dp__8: 0.8rem;
  --dp__12: 1.2rem;
  --dp__16: 1.6rem;
  --dp__20: 2rem;
  --dp__24: 2.4rem;
  --dp__28: 2.8rem;
  --dp__32: 3.2rem;
  --dp__36: 3.6rem;
  --dp__40: 4rem;
  --dp__44: 4.4rem;
  --dp__48: 4.8rem;
  --dp__52: 5.2rem;
  --dp__56: 5.6rem;
  --dp__60: 6rem;
  --dp__64: 6.4rem;
  --dp__68: 6.8rem;
  --dp__72: 7.2rem;
  --dp__76: 7.6rem;
  --dp__80: 8rem;
  /**/

  //SHADOWS
  --shadow__2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --shadow__4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --shadow__6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  --shadow__8dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --shadow__12dp: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --shadow__16dp: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --shadow__24dp: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  //

  --max-content-width: 73.6rem;
  --content-padding: var(--dp__16);
  --pageHeaderMinHeight: 4.8rem;
  --tabBarMinHeight: 7.8rem;
  --poster_aspect_ratio: 0.67;
  --backdrop_aspect_ratio: 1.77;
}

html,
body,
#__next {
  display: flex;
  flex: 1;
  flex-direction: column;
}

html {
  height: 100%;
  font-size: 62.5%;
  background-color: var(--colors__background_light);
}

body {
  min-width: 32rem;
  font: var(--fonts__m);
  color: var(--colors__font_medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
}

:where(button, input, select, textarea) {
  padding: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

svg {
  fill: currentColor;
}
