.button {
  padding-top: 100%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px var(--borderColor);
  border-radius: var(--dp__8);
}

.icon {
  width: var(--iconSize);
  height: var(--iconSize);
}
